<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>

<div>Innskráður sem: <%= name %></div>
<a href="/logout">Útskráning</a>

<div class="fjoldi">Fjöldi undirskrifta: <%= counted %></div>

<% if (registrations.length === 0) { %>
  <p class="registrations__empty">Engar undirskriftir.</p>
<% } else { %>
  <table class="registrations__table" cellpadding="0">
    <tr>
      <th>Dags</th>
      <th>Nafn</th>
      <th>Athugasemd</th>
      <th>Eyða</th>
    </tr>
    <% registrations.forEach((row) => { %>
      <tr>
        <td class="date"><%= formatDate(row.signed) %></td>
        <td class="name"><%= row.anonymous ? 'Nafnlaust' : row.name %></td>
        <td class="comment"><%= row.comment %></td>
        <td>
          <form class="delete-form" method="post" action="/delete/<%= row.id %>">
            <button class="button">Eyða</button>
          </form>
        </td>
      </tr>
    <% }) %>
    </tr>
  </table>
<% } %>
</section>
<section class="links">
<% if(result.links.prev) { %>
  <a class="links__children" href=<%= result.links.prev.href %>>Fyrri síða </a>
<% } else { %>
  <div class="links__children">Fyrri síða</div>
<% } %>
<div class="links__children">Síða <%= offset+1 %> af <%= limit %></div>
<% if(result.links.next) { %>
  <a class="links__children" href=<%= result.links.next.href %>>Næsta síða </a>
<% } else {%>
  <div class="links__children" >Næsta síða</div>
<% } %>
</section>


<%- include('footer') -%>
